<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="900"> <!-- Refresh every 15 minutes -->
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div class="weather-container">
        <div class="weather-box">
            <div id="time-container">
                <span id="datetime"></span>
            </div>
            <h1>Bethlehem, PA</h1>
            <div id="temperature" class="weather-info"></div>
            <div id="conditions" class="weather-info"></div>
        </div>
    </div>

    <script>
        async function fetchData(endpoint, targetId) {
            const response = await fetch(endpoint);
            const data = await response.json();
            document.getElementById(targetId).innerText = data;
        }

        window.onload = function () {
            fetchData('/get_temperature', 'temperature');
            fetchData('/get_conditions', 'conditions');
            updateDateTime();
            setBackground();
        };

        function updateDateTime() {
            const now = new Date();
            const currentDateTime = now.toLocaleString();
            document.querySelector('#datetime').textContent = currentDateTime;
        }

        setInterval(updateDateTime, 1000);
    </script>
</body>

</html>